MANIFEST
build/
cover/
coverage.xml
dist/
docs/_build
env/
requests.egg-info/
*.pyc
*.swp
*.egg
.coverage
.cache/
.eggs/
.mypy_cache/
.pytest_cache/
.tox/
.venv/
.vscode/
.workon

# in case you work with IntelliJ/PyCharm
.idea
*.iml
.python-version
